.repository-name{
    display: flex;
    align-items : center;
    justify-content: space-between;
    margin-left:5px;
    cursor:pointer;
    color:blue;
}
.repository-name:hover{
    text-decoration-line: underline;
}

.modal {
    font-size: 12px;
    border: 1.5px solid rgb(32, 32, 32);
    border-radius: 10px;
    width: 70vw;
    max-height:65vw;
    background-color: rgb(245, 245, 245);
    padding:0 10px 0 10px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.5);
    overflow:auto;
  }
  
  .modal > .header {
    font-size: 18px;
    text-align: center;
    padding: 5px;
    border-bottom: 2px solid gray;
    overflow-wrap: break-word;
    
  }
  .modal > .content {
    width: 100%;
    padding: 5px 5px 5px 2px;
    font-size:1.1em;
    color : rgb(56, 56, 56);
    text-align:justify;
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }

  .modal>.content > div {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
  }

  
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }

  .modal > .close:hover{
    color : red;
  }


  

  @keyframes anvil {
    0% {
      transform: scale(1) translateY(0px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    1% {
      transform: scale(0.96) translateY(10px);
      opacity: 0;
      box-shadow: 0 0 0 rgba(241, 241, 241, 0);
    }
    100% {
      transform: scale(1) translateY(0px);
      opacity: 1;
      box-shadow: 0 0 500px rgba(241, 241, 241, 0);
    }
  }
  .popup-content {
    animation: anvil 0.3s cubic-bezier(0.38, 0.1, 0.36, 0.9) forwards;
  }