.user-pane{
    display: flex;
    flex-direction: column;
    row-gap:13px;
    width : 250px;
}
.avatar{
    height : 220px;
    width : 220px;
    align-self: center;
    border-radius: 50%;
}
.followers-container{
    display: flex;
    align-items : center;
    column-gap : 5px;
    color:grey;
}

.email-container{
    display: flex;
    align-items : center;
    column-gap : 3px;
}

.email{
    color : rgb(0, 0, 0);
}

.user-names{
    display: flex;
    flex-direction: column;
    row-gap:5px;
}

@media screen and (max-width : 500px) {
    .user-pane{
        display: flex;
        flex-direction: column;
        width : 95vw;
    }
    .avatar{
        height : 90px;
        width : 90px;
        align-self: flex-start;
        border-radius: 50%;
    }
    .responsive-user{
        display:flex;
        align-items : center;
        column-gap: 5px;
        justify-content:space-evenly;
    }
}