.App {
  display: flex;
  flex-direction: column;
  align-items: center;
 
}
.git-logo{
  height : 75px;
  width : 75px;
  margin-top: 10px;
}
.search-box{
  width : 200px; 
  border-radius: 7px;
  outline: none;
}
.title{
  margin-top : 0px;
}